#content{
    width:90%;
    height:90%;
    left:5%;
    top:5%;
    position:absolute;
    display:block;
}

img{
    max-width:100%;
    max-height:100%;
    border-radius:10px;
}

img:hover{
    max-width:101%;
    max-height:101%
}

#split{
    max-width:100%;
    max-height:100%;
    position:relative;
    height:100%;
}


#left{
    max-width:100%;
    position:relative;
}

#right{
    width:100%;
    left:5px;
    position:relative;
}

.rightpane{
    position:relative;
}

.fa{
    padding:20px;
    font-size:30px;
    width:20px;
    text-align:center;
    text-decoration:none;
    border-radius:50%;
    position:relative;
}

@mediaonlyscreenand(min-width:900px){
    #left{
        max-width:40%;
        position:relative;
        float:left;
    }

    #right{
        height:90%;
        width:60%;
        position:relative;
        float:right;
    }

    .rightpane{
        left:50px;
        position:relative;
    }

    .fa{
        padding:20px;
        font-size:30px;
        width:20px;
        text-align:center;
        text-decoration:none;
        border-radius:50%;
        left:50px;
        position:relative;
    }
}


*{
    font-family:monaco;

}

body{
    background-color:black;
    color:white;
}

.fa-twitter{
    background:#55ACEE;
    color:white;
}

.fa-linkedin{
    background:#007bb5;
    color:white;
}

.fa-instagram{
    background:#d62976;
    color:white;
}

.fa-github{
    background:#171515;
    color:white;
}

.fa:hover{
    opacity:0.7;
}
